# Ignorar arquivos de build do Gradle
/build/
/.gradle/

# Ignorar arquivos de sistema operacional
.DS_Store
Thumbs.db

# Ignorar configurações do IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Ignorar arquivos de logs e outros arquivos temporários
*.log
*.tmp
*.swp

# Ignorar pastas de cache do Gradle
.gradle/

# Ignorar pastas de compilação de classes
/out/
/target/
/bin/

# Ignorar arquivos de distribuição
*.tar
*.zip
*.jar

# Manter arquivos importantes do Gradle
!build.gradle
!settings.gradle
!gradle.properties